<nav class="site-nav">
    <div class="site-nav-left">
        {% unless page.current == 'home' and paginator.page == 1 %}
            <a class="site-nav-logo" href="{{ '/' | relative_url }}"><img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" /></a>
        {% endunless %}
        {% include navigation.html %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.facebook %}<a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>{% endif %}
            {% if site.twitter.username %}<a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener">{% include twitter.html %}</a>{% endif %}
        </div>
        <a class="rss-button" href="{{ '/feed.xml' | relative_url }}" title="RSS">{% include rss.html %}</a>
    </div>
</nav>
