---
layout: default
current: tag
class: tag-template
---
{% assign tag = site.data.tags[page.tag] %}
{% assign posts = site.posts | where_exp: "p", "p.tags contains page.tag" %}
{% assign offset = page.page_num | minus: 1 | times: site.paginate %}
<header class="site-header outer no-cover">
    <div class="inner">
        {% include site-nav.html %}
        <div class="site-header-content">
            <h1 class="site-title">{{ tag.name | default: page.tag }}</h1>
            <h2 class="site-description">
                {% if tag.description %}{{ tag.description }}{% else %}A collection of {{ posts.size }} post{% if posts.size != 1 %}s{% endif %}{% endif %}
            </h2>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            {% for post in posts limit: site.paginate offset: offset %}{% include post-card.html post=post %}{% endfor %}
        </div>
    </div>
</main>
{% assign base = '/tag/' | append: page.tag | append: '/' %}
{% include pagination.html base=base page=page.page_num total=page.total_pages %}
